html, body {
  height: 100%;
  width: 100%:
}
#page {
  height: 100vh;
  width: 100%:
}
#header, nav, #content, #footer {
  box-sizing: border-box;
  height: auto;
  padding: 0px;
  margin: 0px;
}
body {
  background-image: url("/media/blue-sky-with-small-cloud.jpg");
  background-color: CornflowerBlue;
  background-attachment: fixed;
  background-size: cover;
  position: center;
  color: black;
}
#header {
  border-style: solid;
  border-width: 10px;
  border-color: midnightblue;
  border-radius: 25px 25px 0px 0px;
  background-color: midnightblue;
  color: white;
  opacity: 66%;
}
nav {
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  background-color: midnightblue;
  opacity: 66%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 0px;
}
nav ul li {
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
}
nav ul li a {
  text-decoration: none;
  color: white;
}
nav ul li a:hover {
  text-decoration: underline;
}
nav ul li .active {
  text-decoration: underline overline;
  color: white;
}
      #content {
        border-radius: 0px 0px 25px 25px;
        border-style: solid;
        border-width: 10px;
        border-color: midnightblue;
        background-color: white;
        color: black;
        opacity: 0.66;
        overflow: auto;
      }
      p + p {
        margin-top: 1.25em;
      }
      .PageNavigation {
        display: block;
        width: auto;
        overflow: hidden;
      }
     .PageNavigation a {
       display: block;
       width: 50%;
       float: left;
       margin: 1em 0;
       font-size: 16px;
       color: white;
     }
     .PageNavigation .next {
       text-align: right;
      }
