body {
  background-image: url("/media/blue-sky-with-small-cloud.jpg");
  background-color: CornflowerBlue;
  background-attachment: fixed;
  background-size: cover;
  position: center;
  color: black;
}
#header {
  background-color: midnightblue;
  color: white;
  border-radius: 25px 25px 0px 0px;
  border-color: midnightblue;
  border-width: 10px;
  border-style: solid;
}
#header * {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.dropdown {
  position: relative;
  display: inline-block;
  background-color: midnightblue;
}
.dropbtn {
  background-color: midnightblue;
  padding: 10px;
  text-decoration: underline overline;
}
.dropdownContent {
  display: none;
  position: absolute;
  background-color: white;
}
.dropdown:hover .dropdownContent {
  display:block;
  margin-left: auto;
  margin-right: auto;
}
#content {
  background-color: white;
  border-radius: 0px 0px 25px 25px;
  border-color: midnightblue;
  border-width: 10px;
  border-style: solid;
}
#footer {
  margin-top: 0px;
  margin-bottom: 10px;
}
.PageNavigation {
  display: block;
  width: auto;
  overflow: hidden;
}
.PageNavigation a {
  display: block;
  width: 50%;
  float: left;
  margin: 1em 0;
  font-size: 16px;
  color: white;
}
.PageNavigation .next {
  text-align: right;
}
