---
layout: nil
sitemap:
  exclude: 'yes'
---

html, body {
  color: black;
  margin: 0px;
  padding: 0px;
}
#header {
  background: rgb(150, 150, 150);
  color: black;
  margin: 0px;
  padding: 10px;
}
#header * {
  text-align: center;
  margin:0px;
  padding: 0px;
}
#content {
  background: rgb(50, 50, 50);
  color: black;
  min-height: 85%;
}
