---
layout: nil
sitemap:
  exclude: 'yes'
---

*, html {
    margin:0;
    padding:0;  
}
body {
  color: black;
  margin: 0px;
  padding: 0px;
}
#header {
  background: rgb(150, 150, 150);
  color: black;
  margin: 0px;
  padding: 10px;
}
#header * {
  text-align: center;
  margin:0px;
  padding: 0px;
}
#content {
  background: rgba(255, 255, 255, 0.5);
  color: black;
  min-height: 85%;
}
#content p,ul,ol,li,h1,h2,h3,h4,h5,h6,code {
  margin: 0.6em;
  line-height: 1.2;
}
