---
layout: nil
sitemap:
  exclude: 'yes'
---

html,body {
  color: black;
  margin: 0px;
  padding: 0px;
}
#header {
  background: rgb(150, 150, 150);
  color: black;
  margin: 0px;
  padding: 10px;
}
#header * {
  text-align: center;
  margin:0px;
  padding: 0px;
}
#content {
  background: rgb(200, 200, 200);
  color: black;
}
#content p,h1,h2,h3,h4,h5,h6 {
  margin: 0.6em;
  line-height: 1.2;
}

#content code,ul,li,ol {
  margin: 1.2em;
  line-height: 1.2;
}


