
<div class="sidebar">
    <input type="text" id="search-input" class="search-input" placeholder="Search...">
    <ul id="results-container" class="pop-up-results"></ul>

    <h2>Categories</h2>
    <ul id="sidebar-categories">
        {% for category in site.categories %}
            {% capture category_name %}{{ category | first }}{%endcapture%}
            <li><a href="{{ site.baseurl }}/blog/category?{{ category_name }}">{{ category_name | capitalize }} ({{ site.categories[category_name] | size }})</a></li>
        {% endfor %}
    </ul>
</div>

<!--
<script type="text/javascript" src="/js/blog-sidebar.js"></script>
<script>
    var posts = new Array();

    {% for post in paginator.posts %}
        {% if post.categories %}
            posts.push(
            [
                {% for category in post.categories %}
                "{{ category | capitalize }}"{% unless forloop.last %}, {% endunless %}
                {% endfor %}
            ]);         
        {% endif %}
    {% endfor %}


    var sidebar = new Sidebar(posts);
    var listItems = new Array();

    sidebar.Categories.forEach((cat) => {
        var li = $('<li>').html(cat.Name + "&nbsp;(" + cat.Count +")");
        listItems.push(li);
    }); 

    $('#sidebar-categories').append(listItems);
</script> -->