<div id="calendar">
  <h1></h1>
  <h2>Months</h2>
  <div id="leap"></div>
  <table id="months-table" style="width:100%">
    <tr>
      <th>Month</th>
      <th>Starts</th>
      <th>Full Moon</th>
    </tr>
  </table>
  <h2>Holidays</h2>
  <table id="holidays-table" style="width:100%">
    <tr>
      <th>Holiday</th>
      <th>Date</th>
      <th>Anglo-Saxon Date</th>
    </tr>
  </table>
  <h3 id="today"></h3>
</div>

<script src="/js/Astro.js" type="text/javascript"></script>
<script src="/js/ascal.js" type="text/javascript"></script>
