<h2 id="monthHead"></h2>
<table id="calendar">
</table>

<code id="debug"></code>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
  var date = new Date();
  
  $(document).ready(function() {
    $("#monthHead").text("working...");
    showCalendar(date.getFullYear(), date.getMonth());
  });
  
  function getJday(d) {
    var yrStart = new Date(d.getFullYear(), 0, 0);
    return Math.floor((d - yrStart)/86400000);
  }
  
  function showCalendar(year, month) {
    const monthNames = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
    
    var day = new Date(year, month, 0);
    var txt = "<tr>\n<th>Sun</th>\n<th>Mon</th>\n<th>Tues</th>\n<th>Wed</th>\n<th>Thu</th>\n<th>Fri</th>\n<th>Sat</th>\n</tr>\n<tr>\n";
    while (day.getMonth() == month) {
      if (day.getDay() == 0)  {
        txt += "</tr>\n<tr>";
      }
      txt += "<td>"+day.getDate()+"</td>\n";
      day.setDate(day.getDate() + 1);
      pos += 1;
    }
    
    txt += "</tr>";
    $("#debug").text(txt);
    $("#calendar").html(txt);
    $("#monthHead").text(monthNames[month]+ " "+year);
  }
</script>