<div id="calendar">
  <h2 id="current-calendar"></h2>
  <h5 id="leap"></h5>
   <form style="width:100%">
    <label>Enter year:</label>
    <input type="text" id="yrInput" style="width:5em" placeholder="CE only">
    <button type="button" id="submit" value="Get Calendar">Get Calendar</button>
  </form>
  <h3>Months</h3>

  <table id="months-table" style="width:100%">
    <tr>
      <th>Month</th>
      <th>Starts</th>
      <th>Full Moon</th>
    </tr>
  </table>
  <h3>High Holidays</h3>
  <p>These are the holidays that almost every Heathen observes (though usually by a different name and possibly at other times).</p>
  <table id="holidays-table" style="width:100%">
    <tr>
      <th>Holiday</th>
      <th>Date</th>
      <th>Anglo-Saxon Date</th>
    </tr>
  </table>
  <h3>Other Holidays</h3>
  <p>These holidays are far from universal, but are observed by at least some Heathens who use the pre-Christian Anglo-Saxons as a primary source for their spirituality. Most of these are taken from the Ingvaeonic Society's <a href="https://ingwine.org/knowledge-base-2/the-holy-calendar/">The Holy Calendar</a>, unless another source is listed in parenthesis.</p>
  <table id="other-holidays-table" style="width:100%">
    <tr>
      <th>Holiday</th>
      <th>Date</th>
      <th>Anglo-Saxon Date</th>
    </tr>
  </table>
  <p id="today"></p>
  <h3>Date Converter</h3>
  <p>Enter a Date below, and it will be converted to the Anglo-Saxon Date. If the Date is outside the currently selected year, this page will refresh with the calendar for that year.</p>
  <form>
      <label for="chosenDate">Choose a Date:</label>
      <input type="Date" id="chosenDate" name="chosenDate">
  </form>
  <p id="conv"></p>
</div>

<script type="text/python">
from browser import document, html
import datetime

class Year:
  self.yr
  self.midsummer
  self.yule
  self.newMoons = []
  self.fullMoons = []
  self.leap
  def __init__(self, year, midsummer, yule, leap):
    date_string = '%Y/%-m/%d %H:%M:%S'
    self.yr = int(year)
    self.midsummer = datetime.datetime.strptime(date_string, midsummer)
    self.yule = datetime.datetime.strptime(date_string, yule)
    self.leap = leap
  def addNewMoon(self, d):
    date_string = '%Y/%m/%dT%H:%M:%S'
    self.newMoons.append(datetime.datetime.strptime(date_string, d))
  def addFullMoon(self, d):
    date_string = '%Y/%m/%dT%H:%M:%S'
    self.fullMoons.append(datetime.datetime.strptime(date_string, d))

document["current-calendar"] <= html.I("Please be patient as the page loads")

years = []
    
{% for yr in site.data.calendar %}
temp = Year({{ yr.year }}, "{{ yr.midsummer }}", "{{ yr.yule }}", {{ yr.leap | capitalize }})
{% for nm in yr.new_moons %}temp.addNewMoon("{{ nm }}")
{% endfor %}
{% for fm in yr.full_moons %}temp.addFullMoon("{{ fm }}")
{% endfor %}
years.append(temp)
del temp

{% endfor %}

date = datetime.datetime.now()
x = int(date.strftime("%Y")) - 1700
year = years[x]
</script>