<div id="calendar">
  <h1></h1>
  <h2>Months</h2>
  <div id="leap"></div>
  <table id="months-table" style="width:100%">
    <tr>
      <th>Month</th>
      <th>Starts</th>
      <th>Full Moon</th>
    </tr>
  </table>
  <h2>Holidays</h2>
  <table id="holidays-table" style="width:100%">
    <tr>
      <th>Holiday</th>
      <th>Date</th>
      <th>Anglo-Saxon Date</th>
    </tr>
  </table>
  <h3 id="today"></h3>
</div>

<script src="/js/Astro.js" type="text/javascript"></script>
<script src="/js/ascal.js" type="text/javascript"></script>
<script type="text/JavaScript">
$(document).ready(function() {
        $("#chosendate").on('change', function() {
            var d = new Date($("#chosendate").val());
            var today = new Date();
            var year = today.getFullYear();
            d.setTime(d.getTime()+24*1000*60*60);
            if (d.getFullYear() != year) {
                clear();
                makeCal(d.getFullYear());
            }
            txt = d.toDateString()+" is the "+getASDate(d);
            $("#conv").html(txt);
            return false;
            //alert(txt);
        });
      body = $('body').html();
      var d = new Date();
      var yr = d.getFullYear();
      makeCal(yr);
    });
</script>
