<!--- REMOVE THIS SECTION BEFORE COMMITTING --->
<!DOCTYPE html>
<meta charset="utf-8">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<div id="calendar-info" markdown="1">
<h1>This is just a test</h1>
<p>It will be deleted before launch.</p>
</div>
<div class="footnotes" role="doc-endnotes">
  <ol>
    <li id="fn:bede" role="doc-endnote">
      <p>To quote Bede, Chapter 11 of <em>The Reckoning of Time</em>:</p>
      <blockquote>
        <p>Note well that those who say that the month ought to be defined, or was defined by the ancients, as the length of time in which the Moon traverses the zodiacal circle, make a serious mistake. As more painstaking inspection of nature has taught, the Moon plainly completes the zodiac in 27 days and 8 hours, but its proper course is 29 days and 12 hours,setting aside the calculation of the ‘‘leap of the Moon’’. Therefore it is more accurate to define a lunar month as the circuit and reintegration of the lunar light from new Moon to new Moon.</p>
      </blockquote>

      <p>“Lunar light” from a new moon makes no sense if he meant the dark moon like we do today. The new moon for the ancients was when you could see the first sliver of the moon after the dark moon. <a href="#fnref:bede" class="reversefootnote" role="doc-backlink">&#8617;</a></p>
    </li>
  </ol>
</div>
<!--- END REMOVE SECTION --->
<h1 class="page-title">The Anglo-Saxon Calendar</h1>
<h2 class="page-subtitle">&#8212;A Reconstruction&#8212;</h2>
<div id="tabs" style="width: 100%; border-bottom: solid;padding: 0.5em; padding-bottom:0px;">
	<button id="monthBtn" onclick="builder.showMonth()" style="background-color: maroon; border: none;padding:0.5em; border-radius: 25px 25px 0px 0px;">Month View</button>
	<button id="yearBtn" style="background-color: transparent;color:black;padding:0.5em; border-radius: 25px 25px 0px 0px;" onclick="builder.showYear()">Year View</button>
	<button id="infoBtn" style="background-color: transparent;color:black;padding:0.5em; border-radius: 25px 25px 0px 0px;" onclick="builder.showInfo()">About the Calendar</button>
</div>
<div id="monthDiv">
	<select id="monthName" name="monthName" onchange="builder.monthSelect(this.selectedIndex)" style="text-align: center; margin-bottom:0px;font-size:2em;font-weight:bold; width: 100%;autofocus: false; border: none; background-color: transparent;"></select>
	<div id="monthTable" style="display: grid;grid-template-columns: repeat(7, minmax(0, 1fr));column-gap:1px;row-gap:1px;">
	</div>
</div>
<div id="year-info" hidden>
    <h2>Year  <span id="lbl-selected-year-he"></span>
    <a href="https://www.minewyrtruman.com/2022/08/30/the-human-era/">HE</a>/<span id="lbl-selected-year"></span> CE</h2>
    <br />

    <a href="https://www.minewyrtruman.com/2021/10/21/the-metonic-cycle/">Metonic Year</a>
    <span id="lbl-metonic-year"></span>:
    <span id="lbl-intercalary-year"></span>
    <br />
    
<span class="bold">Today is <span id="lbl-today"></span></span>

<label for="txt-input-year">Enter Year</label>
<input type="text" name="txt-input-year" id="txt-input-year" />
<button id="btn-get-calendar">Get Calendar</button>
<br />

<label for="txt-date-to-convert">Select a date</label>
<input type="date" name="txt-date-to-convert" id="txt-date-to-convert" />
<button id="btn-convert-date">Convert Date</button>
<span id="converted-date" class="bold"></span>       

<h2 class="table-heading">Months</h2>
<table id="months"></table>

<h2 class="table-heading">High Holidays</h2>
<table id="holiday-high"></table>

<h2 class="table-heading">Other Holidays</h2>
<table id="holiday-minor"></table>
</div>

<script type="text/javascript" src="./js/calendar.js"></script>
<script type="text/javascript" src="./js/calendar-display.js"></script>
<script type="text/javascript" src="./js/ascalbuilder.js"></script>

<script type="text/javascript">

    var calendar; // Declare out here for the other page disploy methods.
    var builder;

    $(document).ready(function(){
        // Fetch years' data from yaml *cries*
        fetch("./js/calendar.json", {
            mode: "same-origin", // no-cors, *cors, same-origin
            cache: "no-cache", // *default, no-cache, reload, force-cache, only-if-cached
            credentials: "same-origin"
        }).then(results => {
            return results.json();
        }).then(function(yearsData) {
            calendar = Calendar(yearsData); // Create Calendar object

            getCalendar(new Date().getFullYear()); // Initialize the calendar. 
            builder = new ASCalBuilder(calendar);
            $('#lbl-today').html(calendar.ConvertDate(new Date()));

            $('#btn-get-calendar').click(btnGetCalendar_click);
            $('#btn-convert-date').click(btnConvertDate_click);
            builder.showMonth();
        });
    });
</script>