<h1 class="page-title">The Anglo-Saxon Calendar</h1>
<h2 class="page-subtitle">&#8212;A Reconstruction&#8212;</h2>

<div id="year-info">
    <span>For the Year  <span id="lbl-selected-year-he"></span>
    <a href="https://www.minewyrtruman.com/2022/08/30/the-human-era/">HE</a>/<span id="lbl-selected-year"></span> CE</span>
    <br />

    <a href="https://www.minewyrtruman.com/2021/10/21/the-metonic-cycle/">Metonic Year</a>
    <span id="lbl-metonic-year"></span>:
    <span id="lbl-intercalary-year"></span>
    <br />            
</div>
<span class="bold">Today is <span id="lbl-today"></span></span>

<label for="txt-input-year">Enter Year</label>
<input type="text" name="txt-input-year" id="txt-input-year" />
<button id="btn-get-calendar">Get Calendar</button>
<br />

<label for="txt-date-to-convert">Select a date</label>
<input type="date" name="txt-date-to-convert" id="txt-date-to-convert" />
<button id="btn-convert-date">Convert Date</button>
<span id="converted-date" class="bold"></span>       

<h2 class="table-heading">Months</h2>
<table id="months"></table>

<h2 class="table-heading">High Holidays</h2>
<table id="holiday-high"></table>

<h2 class="table-heading">Other Holidays</h2>
<table id="holiday-minor"></table>

<script type="text/javascript" src="./js/calendar.js"></script>
<script type="text/javascript" src="./js/calendar-display.js"></script>

<script type="text/javascript">

    var calendar; // Declare out here for the other page disploy methods.

    $(document).ready(function(){
        // Fetch years' data from yaml *cries*
        fetch("./js/calendar.json", {
            mode: "same-origin", // no-cors, *cors, same-origin
            cache: "no-cache", // *default, no-cache, reload, force-cache, only-if-cached
            credentials: "same-origin"
        }).then(results => {
            return results.json();
        }).then(function(yearsData) {
            calendar = Calendar(yearsData); // Create Calendar object

            getCalendar(new Date().getFullYear()); // Initialize the calendar. 
            $('#lbl-today').html(calendar.ConvertDate(new Date()));

            $('#btn-get-calendar').click(btnGetCalendar_click);
            $('#btn-convert-date').click(btnConvertDate_click);
        });
    });
</script>