<script type="text/python">
from browser import document, html
from javascript import Date 
#date = Date.new(2012, 6, 10)

class ASCal:
  def getYear(year):
    index = int(year/100)
    if index == 20:
      if year == 0: pass
      {% for y in site.data.data-20%}
      elif year == {{ y.year }}: return '{{ y.midsummer }};{{ y.yule }};{{ y.new_moons | join: "," }};{{ y.full_moons | join: "," }};{{ y.leap }}'{% endfor %}
    elif index == 19:
      if year == 0: pass
      {% for y in site.data.data-19%}
      elif year == {{ y.year }}: return '{{ y.midsummer }};{{ y.yule }};{{ y.new_moons | join: "," }};{{ y.full_moons | join: "," }};{{ y.leap }}'{% endfor %}
    elif index == 21:
      if year == 0: pass
      {% for y in site.data.data-21 %}
      elif year == {{ y.year }}: return '{{ y.midsummer }};{{ y.yule }};{{ y.new_moons | join: "," }};{{ y.full_moons | join: "," }};{{ y.leap }}'{% endfor %}
    elif index == 18:
      if year == 0: pass
      {% for y in site.data.data-18 %}
      elif year == {{ y.year }}: return '{{ y.midsummer }};{{ y.yule }};{{ y.new_moons | join: "," }};{{ y.full_moons | join: "," }};{{ y.leap }}'{% endfor %}
    elif index == 17:
      if year == 0: pass
      {% for y in site.data.data-17 %}
      elif year == {{ y.year }}: return '{{ y.midsummer }};{{ y.yule }};{{ y.new_moons | join: "," }};{{ y.full_moons | join: "," }};{{ y.leap }}'{% endfor %}

if __name__ == __main__:
document["content"] <= ASCal.getYear(2022)
</script>