
<script src="https://cdnjs.cloudflare.com/ajax/libs/suncalc/1.9.0/suncalc.min.js"></script>
<script>
  function addDays(date, num) {
    return date.setDate(date.getDate()+num);
  }
  function getDayLength(d) {
    var date = new Date(d);
    var times = SunCalc.getTimes(date, 52.63399, -1.69587);
    return (times.sunset - times.sunrise) / 3600000;
  }
  function getSummerSolstice(year) {
    var date = new Date(String(year)+"-06-10"))
    var dayLength = getDayLength(date);
    
    return date;
  }
  
  document.getElementById('content').innerHTML = "Hello world!";
</script>