<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    <link href="https://fonts.googleapis.com/css?family=Oswald:500" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/colors.css">
</head>
<body>
<div id="header">
    <div id="endcap_left_header">
        <svg class="lc235703">
            <use xlink:href="svg/sprites.svg#lcars-svg-endcap_left" height="30" width="45"></use>
        </svg>
    </div>
    <div id="block_header" class="blocktext_black">
    </div>
    <div id="headline_header">LCARS</div>
    <div id="endcap_right_header">
        <svg class="lc235703">
            <use xlink:href="svg/sprites.svg#lcars-svg-endcap_right" height="30" width="45"></use>
        </svg>
    </div>
</div>
<br>
<div id="main">
    <div id="main_top">
        <div id="elbow_left_top_main">
            <svg class="lc236907">
                <use xlink:href="svg/sprites.svg#lcars-svg-elbow_left_top" height="90" width="300"></use>
            </svg>
        </div>
        <div id="block_main">
        </div>
        <div id="headline_main">{{ site.title }}</div>
        <div id="endcap_right_main">
            <svg class="lc236907">
                <use xlink:href="svg/sprites.svg#lcars-svg-endcap_right" height="30" width="45"></use>
            </svg>
        </div>
    </div>
    <div id="main_center">
        <div id="main_buttons">
            <div id="main_button_column">
                <button class="button01">031306</button>
                <button class="button01">gndn</button>
                <button class="button01">062207</button>
            </div>
            <div id="main_button_block">
            </div>
        </div>
        <div id="main_text" class="text">
            {{ content }}
        </div>
    </div>
    <div id="main_bottom">
        <div id="elbow_left_bottom_main">
            <svg class="lc236907">
                <use xlink:href="svg/sprites.svg#lcars-svg-elbow_left_bottom" height="90" width="300"></use>
            </svg>
        </div>
        <div id="block_main_bottom">
        </div>
        <div id="endcap_right_main_bottom">
            <svg class="lc236907">
                <use xlink:href="svg/sprites.svg#lcars-svg-endcap_right" height="30" width="45"></use>
            </svg>
        </div>

    </div>
</div>
</body>
</html>
